server:
  port: 8081

spring:
  security:
    oauth2:
      resourceserver:
        opaque:
          introspection-uri: http://localhost:9000/oauth2/introspect
          introspection-client-id: oidc-client
          introspection-client-secret: oidc
  datasource:
    url: jdbc:postgresql://localhost:5432/test
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  jackson:
    default-property-inclusion: NON_NULL

app:
  auth-server-url: http://localhost:9000
  allowed-origins: http://localhost:4200
